@use 'sass:math';

.article-content {
  body.single &,
  body.page & {
    font-family: $font-family-serif;

    p, ul, ol {
      margin-bottom: $grid-gutter-width;
    }

    h2 {
      font-family: $font-family-sans-serif;
    }

    h3 {
      font-family: $font-family-sans-serif;
      margin-top: $grid-gutter-width * 1.5;
    }

    ul, ol {
      padding-left: 1em;
    }
  }

  body.single-post & {
    & > p:first-of-type:first-letter,
    .has-drop-cap:not(:focus):first-letter {
      float: left;
      font-size: ceil($font-size-base * 6);
      font-weight: bold;
      font-style: normal;
      line-height: .85;
      margin: 0 math.div($grid-gutter-width, 2) 0 0;
      padding-bottom: ceil(math.div($font-size-base  * 6, 15));
      border-bottom: ceil(math.div($font-size-base * 6, 20)) solid;
      text-transform: uppercase;
    }

    & > p:not(.has-text-color):first-of-type:first-letter,
    .has-drop-cap:not(:focus):not(.has-text-color):first-letter {
      border-color: $gray-lighter;
    }

    .has-large-font-size {
      &:first-of-type:first-letter, &.has-drop-cap:not(:focus):first-letter {
        font-size: ceil($font-size-base * 9);
        margin-top: ceil(math.div($font-size-base, 3));
      }
    }

    & > p:first-of-type:after,
    .has-drop-cap:not(:focus):after {
      clear: both;
      display: table;
      content: " ";
      padding: 0;
      margin: 0;
    }
  }
}

@media (min-width: $screen-md-min) {
  .article-content {
    text-align: justify;
  }
}
