.entry-header {
  margin-bottom: $grid-gutter-width / 4;

  .entry-category {
    display: inline;
    vertical-align: text-bottom;
    margin-right: $grid-gutter-width / 4;
    background: linear-gradient(141deg, $brand-primary 20%, $brand-primary-darker 150%);
    color: $inverse-color;
    padding: 3px 7px;
    border-radius: 2px;
    border: 1px solid $brand-primary;
  }

  .entry-title {
    display: inline;
  }

  body.single &,
  body.page:not([class*='home']) & {
    .entry-info {
      margin-bottom: $grid-gutter-width;
    }

    .entry-title {
      display: inline-block;
      margin: 0;
    }

    .entry-category-container {
      margin-bottom: $grid-gutter-width / 2;
    }

    .entry-category {
      margin: 0;
    }

    .entry-subtitle {
      margin: $grid-gutter-width / 4 auto 0;
      font-size: $font-size-h4;
      font-weight: normal;
      color: $gray;
      line-height: 1.4;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .entry-header {
    .breadcrumb {
      float: left;
    }
  }
}
