@use 'sass:math';

article {
  .wp-caption, .wp-block-image {
    max-width: 100%;

    &.aligncenter,
    &.alignleft,
    &.alignright {
      clear: both;
      margin-left: auto;
      margin-right: auto;
    }
  }

  img {
    &.wp-post-image {
      margin-bottom: math.div($grid-gutter-width, 2);
    }

    &.wp-post-image,
    &[class*="wp-image-"] {
      display: block;
      max-width: 100%;
      height: auto;
      border-radius: 2px;

      &.lazyload,
      &.lazyloading {
        height: 0;
        opacity: 0;
      }

      &.lazyloaded {
        height: auto;
        opacity: 1;
        transition: opacity 200ms ease-out;
      }
    }

    &.aligncenter,
    &.alignleft,
    &.alignright {
      clear: both;
      margin-left: auto;
      margin-right: auto;
    }

    &.alignleft,
    &.alignright {
      margin-bottom: $grid-gutter-width;
    }
  }

  body.single &,
  body.page & {
    p + p > img {
      &[class*="wp-image-"] {
        margin-top: $grid-gutter-width;
        margin-bottom: $grid-gutter-width;
      }
    }

    .wp-caption, .wp-block-image, .wp-block-jetpack-gif, .wp-block-embed {
      margin-top: $grid-gutter-width;
      margin-bottom: $grid-gutter-width;

      img {
        margin-top: 0;
        margin-bottom: 0;
      }

      figcaption {
        font-family: $font-family-sans-serif;
        font-size: $font-size-small;
        color: $gray-light;
        text-align: center;
        margin-top: math.div($grid-gutter-width, 2);

        &:after {
          @extend .divider;
          content: "";
          margin-top: math.div($grid-gutter-width, 2);
          margin-bottom: $grid-gutter-width;
        }
      }

      .lazyload + figcaption,
      .lazyloading + figcaption {
        display: none;
      }
    }
  }
}

@media (min-width: $screen-md-min) {
  body.single article,
  body.page article {
    p + p > img {
      &[class*="wp-image-"] {
        margin-top: $grid-gutter-width * 2;
        margin-bottom: $grid-gutter-width * 2;
      }
    }

    img {
      &.alignleft {
        float: left;
        margin: 0 $grid-gutter-width $grid-gutter-width 0;
      }

      &.alignright {
        float: right;
        margin: 0 0 $grid-gutter-width $grid-gutter-width;
      }
    }

    .wp-caption, .wp-block-image {
      img {
        margin-top: 0;
        margin-bottom: 0;
      }

      margin-top: $grid-gutter-width * 2;
      margin-bottom: $grid-gutter-width * 2;

      figcaption:after {
        margin-bottom: $grid-gutter-width * 2;
      }

      &.alignleft {
        float: left;
        margin: 0 $grid-gutter-width $grid-gutter-width 0;

        figcaption:after {
          margin-bottom: 0;
        }
      }

      &.alignright {
        float: right;
        margin: 0 0 $grid-gutter-width $grid-gutter-width;

        figcaption:after {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (min-width: $screen-lg-min) {
  body.single article,
  body.page article {
    img {
      &.alignleft {
        margin-left: -$grid-gutter-width * 2;
      }

      &.alignright {
        margin-right: -$grid-gutter-width * 2;
      }
    }

    .wp-caption, .wp-block-image {
      &.alignleft {
        margin-left: -$grid-gutter-width * 2;
      }

      &.alignright {
        margin-right: -$grid-gutter-width * 2;
      }
    }
  }
}
