.article-info {
  @extend .light-text;

  .media-right {
    display: none;
  }

  .avatar {
    @extend .img-circle;

    width: floor($font-size-small * 1.35) * 2;
    height: auto;
  }

  .article-time {
    &:first-letter {
      text-transform: uppercase;
    }
  }

  body.single & {
    .media-left {
      display: none;
    }

    .media-right {
      display: table-cell;
    }

    .avatar {
      width: floor($font-size-small * 1.35) * 3;
    }

    .article-author,
    .article-time,
    .article-reading {
      @extend .text-right;
    }
  }
}
