.article-review {
  .review-title {
    &:before {
      @extend .fa;
      @extend .fa-thermometer-half;
      margin-right: $grid-gutter-width / 4;
    }
  }

  .review-summary {
    .review-icon {
      @extend .pull-right;
      font-size: $font-size-base * 5;
      line-height: 1;
      margin: 0 0 $grid-gutter-width / 2 $grid-gutter-width / 2;

      &:before {
        @extend .fa;
        color: $brand-primary;
        margin: 0;
      }

      &.awesome {
        &:before {
          @extend .fa-heart;
        }
      }

      &.good {
        &:before {
          @extend .fa-smile-o;
        }
      }

      &.average {
        &:before {
          @extend .fa-meh-o;
        }
      }

      &.bad {
        &:before {
          @extend .fa-frown-o;
        }
      }

      &.shit {
        &:before {
          @extend .fa-ban;
        }
      }
    }
  }

  .review-details {
    text-align: left;

    .article-content & {
      h3 {
        margin-top: $grid-gutter-width / 2;
        margin-bottom: $grid-gutter-width / 4;
      }
    }

    ul {
      margin: 0 !important;
      padding: 0 !important;
      list-style: none;

      li {
        i {
          color: $brand-primary;
          margin-right: $grid-gutter-width / 4;
        }
      }
    }
  }
}
