.article-tldr {
  margin-bottom: $grid-gutter-width;

  .tldr-content {
    margin-top: $grid-gutter-width / 2;
    font-family: $font-family-serif;
  }
}

@media (min-width: $screen-md-min) {
  .article-tldr .tldr-content {
    text-align: justify;
  }
}
