@use 'sass:math';

body.archive {
  .article-header {
    .article-subtitle {
      margin: math.div($grid-gutter-width, 4) auto 0;
      font-size: $font-size-h4;
      font-weight: normal;
      color: $gray;
      line-height: 1.4;
    }
  }
}
