blockquote {
  padding: 0;
  border: 0;
  margin-bottom: $grid-gutter-width / 2;
  font-size: $font-size-h4;
  font-style: italic;
  color: $gray;

  &:before {
    content: "\f10d";
    font-family: 'FontAwesome';
    font-size: $font-size-h1;
    font-style: normal;
    color: $gray-lighter;
  }

  p {
    padding-left: $grid-gutter-width / 2;
    border-left: 4px solid $gray-lighter;
  }
}

abbr {
  text-decoration: none;
}

.light-text {
  font-size: $font-size-small;
  line-height: 1.35;
  color: $gray-dark;

  a {
    color: $gray-dark;
    text-decoration: $link-hover-decoration;

    &:hover {
      color: $link-hover-color;
    }
  }
}
