@use 'sass:math';

blockquote, .wp-block-quote {
  padding: 0 0 0 math.div($grid-gutter-width, 2);
  border-width: 0 0 0 4px;
  border-style: solid;
  margin-bottom: $grid-gutter-width !important;

  &[style*="text-align:right"] {
    border-width: 0 4px 0 0;
    padding: 0 math.div($grid-gutter-width, 2) 0 0;
  }

  &[style*="text-align:center"] {
    border-width: 2px 0 2px 0;
    padding: math.div($grid-gutter-width, 2) 0 math.div($grid-gutter-width, 2) 0;
  }

  p, cite {
    display: inline;
    margin-bottom: 0 !important;
  }

  cite:before {
    content: " — ";
  }

  a {
    word-break: break-all;
  }

  &.is-style-large {
    padding: 0;
    border: 0;
    font-size: $font-size-h4;

    &:before {
      content: "\f10d";
      font-family: 'FontAwesome';
      font-size: $font-size-h1;
      font-style: normal;
    }

    p {
      display: block;
      padding: 0 0 0 math.div($grid-gutter-width, 2);
      border-style: solid;
      border-width: 0 0 0 4px;
    }

    &[style*="text-align:right"] p {
      border-width: 0 4px 0 0;
      padding: 0 math.div($grid-gutter-width, 2) 0 0;
    }

    &[style*="text-align:center"] p {
      border: 0;
      padding: 0;
    }
  }

  &:not(.has-text-color) {
    color: $gray;
    border-color: $gray-lighter;

    &.is-style-large {
      &:before {
        color: $gray-lighter;
      }

      p {
        border-color: $gray-lighter;
      }
    }
  }
}

abbr {
  text-decoration: none;
}

.light-text {
  font-size: $font-size-small;
  line-height: 1.35;
  color: $gray-dark;

  a {
    color: $gray-dark;
    text-decoration: $link-hover-decoration;

    &:hover {
      color: $link-hover-color;
    }
  }
}

.wp-block-cover, .wp-block-pullquote {
  blockquote {
    margin: 0 auto 0 auto !important;
    max-width: 100% !important;
  }

  &.is-style-solid-color blockquote {
    margin: 0 $grid-gutter-width 0 $grid-gutter-width !important;
  }

  p {
    margin: 0 !important;
  }
}

@media (min-width: $screen-lg-min) {
  .wp-block-pullquote {
    blockquote {
      max-width: 60% !important;
    }

    &.is-style-solid-color blockquote {
      margin: 0 auto 0 auto !important;
    }
  }
}
