@use 'sass:math';

#footer {
  display: none;
  opacity: 0;
  transition: opacity .2s ease-out;
  background-color: $brand-secondary;
  color: lighten($brand-secondary, 20%);
  padding-top: math.div($grid-gutter-width, 2);
  padding-bottom: math.div($grid-gutter-width, 2);

  a {
    color: lighten($brand-secondary, 20%);
  }

  .footer-aside {
    margin-bottom: $grid-gutter-width;
  }

  .site-info {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;

    li {
      display: inline;
      font-size: $font-size-small;
      margin-bottom: math.div($font-size-small, 4);

      i {
        margin-right: math.div($font-size-small, 2);
      }

      & + li:before {
        content: "—";
        margin: 0 math.div($grid-gutter-width, 2);
      }
    }

    a {
      text-decoration: underline;
    }
  }
}
