/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object,
video {
  max-width: 100%;
}

.embed-container {
  margin-bottom: $grid-gutter-width;
}

.embed-responsive {
  position: relative;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-responsive iframe,
.embed-responsive object,
.embed-responsive embed,
.embed-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
