@use 'sass:math';

.navigation {
  .nav-links {
    @extend .text-center;

    & > div {
      display: inline-block;
      margin: 0 math.div($grid-gutter-width, 8) math.div($grid-gutter-width, 4);
      text-align: center;

      &.previous {
        a {
          @extend .btn;
          @extend .btn-primary;

          &:before {
            @extend .fa;
            @extend .fa-chevron-left;
            margin-right: math.div($grid-gutter-width, 4);
          }
        }
      }

      &.next {
        a {
          @extend .btn;
          @extend .btn-primary;

          &:after {
            @extend .fa;
            content: "\f054";
            margin-left: math.div($grid-gutter-width, 4);
          }
        }
      }
    }
  }
}
